:root{
    --img-width: max(35vw, 400px)
}
*{
    margin: 0px;
}
@font-face {
    font-family: odin;
    src: url(./Font/Norse-Bold.otf);
}
.container{
    display: flex;
    flex-direction: row;
}
.img-container{
    position: relative;
    width: var(--img-width);
    height: 100vw;
}
.castle-background{
    height: 100vh;
    width: var(--img-width);
    margin: 0px;
}
.background-img{
    background-color: black;
    opacity: 70%;
    height: 30vh;
    width: var(--img-width);
    position: absolute;
    top: 20vh;
    left: 0;
}
.background-img h1{
    font-family: odin;
    color: white;
    font-size: 10rem;
    position: absolute;
    left: 250px;
    top: 50px;
}
.odin{
    position: absolute;
    top: 21vh;
    left: 4vw;
    height: 28vh;

}
.intro-text{
    display: flex;
    align-items: center;
    margin-left: 5vw;
    width: 65vw;
    height: 33vh;
    margin-top: 2vh;
}
p{
    color: black;
    font-size: 1.5rem;

    text-align: left;
}
span{
    padding-top: 20px;
    display: block;
}
fieldset{margin: 20px 0px;}
form{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    flex-direction: row;
}
form div div{
    display: flex;
    flex-direction: column;
}